html {
  background-image: linear-gradient(to bottom, black, rgb(0, 51, 0));
  height: 100vh;
}

body {
  font-family: 'Montserrat';
  font-size: 1.1  rem;
  font-display: optional;
  color: white;
  text-align: center;
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 90%;
}

@media (min-width: 600px) {
  body {
    width: 30%;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 0 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
  font-size: 1.3rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

.avatar {
  width: 10rem;
  border-radius: 50%;
}

.icon-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}