.icon-button.fa {
  color: rgb(221, 221, 221);
  text-decoration: none;
  display: inline-block;
  padding: 0 0.7rem;
  font-size: 3.5rem;
}

.icon-button:hover {
  color: white;
  transition: 0.5s;
}

.icon-button:active {
  color: rgb(160, 160, 160);
  transition: 0.2s;
}